# NOTE: update this with your service name
service: sneakerconnect1-api

# Create an optimized package for our functions 
package:
  individually: true

plugins:
  - serverless-bundle # Package our functions with Webpack
  - serverless-offline
  - serverless-dotenv-plugin # Load .env as environment variables

provider:
  name: aws
  runtime: nodejs10.x
  stage: dev
  region: us-east-1
  # To load environment variables externally
  # rename env.example to .env and uncomment
  # the following line. Also, make sure to not
  # commit your .env.
  #
  environment:
    tableName: sneakers
  #  SAMPLE_ENV_VAR: ${env:SAMPLE_ENV_VAR}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeTable
      Resource: "arn:aws:dynamodb:eu-central-1:130126517726:table/sneakers"
       
functions:
  graphql:
    handler: src/graphql.graphqlHandler
    events:
    - http:
          path: graphql
          method: post
          cors: true
          integration: lambda-proxy
          authorizer:
            arn: arn:aws:cognito-idp:us-east-1:130126517726:userpool/us-east-1_KHlHuwGcD
    - http:
          path: graphql
          method: get
          cors: true
          integration: lambda-proxy
        
